# Data Transformation
**input:** .csv files directly exported from the [CanYouReadIt?](https://canyoureadit.com) project's database tables at **1/8/2022.**
**output:** single .csv file ready for EDA (Exploratory Data Analysis)

In [1]:
try:
    import pandas as pd
    print(f"Pandas version: {pd.__version__} found!")
except ModuleNotFoundError:
    print("Install Pandas with: conda install pandas")

Pandas version: 1.3.4 found!

In [2]:
IMAGES = r'data/images_202201080305.csv'
DESKTOP = r'data/response_desktop_202201080305.csv'
MOBILE = r'data/response_mobile_202201080305.csv'

In [3]:
desktop_df = pd.read_csv(DESKTOP,
                 sep=',',
                 encoding='utf-8',
                 parse_dates = ["create_dt"])
desktop_df['mobile_user']=False
desktop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24599 entries, 0 to 24598
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           24599 non-null  int64
 1   image_id     24599 non-null  int64
 2   response     24599 non-null  int64
 3   create_dt    24599 non-null  datetime64[ns]
 4   session_id   24599 non-null  object
 5   mobile_user  24599 non-null  bool
dtypes: bool(1), datetime64[ns](1), int64(3), object(1)
memory usage: 985.0+ KB

In [4]:
mobile_df = pd.read_csv(MOBILE,
                 sep=',',
                 encoding='utf-8',
                 parse_dates = ["create_dt"])
mobile_df['mobile_user']=True
mobile_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9458 entries, 0 to 9457
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           9458 non-null   int64
 1   image_id     9458 non-null   int64
 2   response     9458 non-null   int64
 3   create_dt    9458 non-null   datetime64[ns]
 4   session_id   9458 non-null   object
 5   mobile_user  9458 non-null   bool
dtypes: bool(1), datetime64[ns](1), int64(3), object(1)
memory usage: 378.8+ KB

In [5]:
df = pd.concat([desktop_df, mobile_df], axis=0)
df = df.drop(columns=['id']).sort_values(by=['create_dt'])
df

,image_id,response,create_dt,session_id,mobile_user
0,6,1,2021-04-20 20:23:08,c9e86836-ad35-4e16-a4f7-8b273b496570,False
1,4,1,2021-04-21 11:33:17,cc681fa6-f357-4b9c-a268-a986ac9960f1,False
2,9,1,2021-04-21 11:33:19,cc681fa6-f357-4b9c-a268-a986ac9960f1,False
3,5,1,2021-04-21 12:42:57,cc681fa6-f357-4b9c-a268-a986ac9960f1,False
4,11,1,2021-04-21 12:43:07,cc681fa6-f357-4b9c-a268-a986ac9960f1,False
...,...,...,...,...,...
9456,384,-1,2022-01-08 00:36:32,50493768-4aa3-402e-a84e-747b08122f72,True
9457,92,-1,2022-01-08 00:42:51,9720ea8b-0080-4649-8280-773aecd9f067,True
24596,452,-1,2022-01-08 00:42:56,a157c0d8-5cb2-4d07-a020-f0171cf71912,False
24597,513,-1,2022-01-08 00:52:31,22b6e654-a93a-49aa-9798-3b44f1257364,False
24598,523,1,2022-01-08 01:02:24,70c85bd3-381c-44d4-9eb3-9eb25ba38f48,False

In [21]:
images_df = pd.read_csv(IMAGES,
                 sep=',',
                 encoding='utf-8')
images_df['is_mobile'] = images_df['is_mobile'].astype(bool)
images_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 548 entries, 0 to 547
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         548 non-null    int64
 1   is_mobile  548 non-null    bool
dtypes: bool(1), int64(1)
memory usage: 4.9 KB

In [27]:
print(len(images_df[images_df['is_mobile'] == True]), 'mobile images out of', len(images_df))

185 mobile images out of 548

In [28]:
images_dict = pd.Series(images_df.is_mobile.values,index=images_df.id).to_dict()

In [29]:
df['mobile_image'] = df['image_id']
df['mobile_image'] = df['mobile_image'].map(images_dict)

In [30]:
df

,image_id,response,create_dt,session_id,mobile_user,mobile_image
0,6,1,2021-04-20 20:23:08,c9e86836-ad35-4e16-a4f7-8b273b496570,False,False
1,4,1,2021-04-21 11:33:17,cc681fa6-f357-4b9c-a268-a986ac9960f1,False,False
2,9,1,2021-04-21 11:33:19,cc681fa6-f357-4b9c-a268-a986ac9960f1,False,False
3,5,1,2021-04-21 12:42:57,cc681fa6-f357-4b9c-a268-a986ac9960f1,False,False
4,11,1,2021-04-21 12:43:07,cc681fa6-f357-4b9c-a268-a986ac9960f1,False,False
...,...,...,...,...,...,...
9456,384,-1,2022-01-08 00:36:32,50493768-4aa3-402e-a84e-747b08122f72,True,True
9457,92,-1,2022-01-08 00:42:51,9720ea8b-0080-4649-8280-773aecd9f067,True,True
24596,452,-1,2022-01-08 00:42:56,a157c0d8-5cb2-4d07-a020-f0171cf71912,False,False
24597,513,-1,2022-01-08 00:52:31,22b6e654-a93a-49aa-9798-3b44f1257364,False,False
24598,523,1,2022-01-08 01:02:24,70c85bd3-381c-44d4-9eb3-9eb25ba38f48,False,False

In [34]:
df[(df['mobile_user'] == True) & (df['mobile_image'] == False)]

,image_id,response,create_dt,session_id,mobile_user,mobile_image
0,11,-1,2021-04-21 19:45:05,9ae1dc88-c633-4ed7-9a3e-9e55ac11d554,True,False
1,8,1,2021-04-22 08:06:01,66924c76-e246-4fd4-9342-e5ab2b83df6e,True,False
2,9,1,2021-04-22 10:04:21,9ae1dc88-c633-4ed7-9a3e-9e55ac11d554,True,False
3,11,0,2021-04-22 10:06:49,9ae1dc88-c633-4ed7-9a3e-9e55ac11d554,True,False
4,10,1,2021-04-23 12:32:05,54db6e88-9735-43c3-9575-25146e96ce31,True,False
...,...,...,...,...,...,...
9397,418,-1,2022-01-07 10:14:27,adf86777-fcca-451f-a6c5-141598821a50,True,False
9399,259,-1,2022-01-07 11:42:47,5845bd0d-434e-4187-8bb3-dfb64390e8fc,True,False
9409,483,1,2022-01-07 13:59:28,0dfe822b-d7aa-4799-8894-cd7d6aefb893,True,False
9449,549,1,2022-01-07 23:42:50,f54bfeb7-cb10-4b4a-979d-1da79ffdac55,True,False
9451,265,1,2022-01-07 23:44:26,521583c0-7e8f-422f-804d-df1e6f44db8e,True,False

In [35]:
df[(df['mobile_user'] == False) & (df['mobile_image']== True)]

,image_id,response,create_dt,session_id,mobile_user,mobile_image
71,32,1,2021-04-26 13:30:23,cc681fa6-f357-4b9c-a268-a986ac9960f1,False,True
161,93,1,2021-04-28 15:34:32,9ae1dc88-c633-4ed7-9a3e-9e55ac11d554,False,True