# EDA (Exploratory Data Analysis)
* Dataset from the [CanYouReadIt?](https://canyoureadit.com) project
* The survey was conducted starting from **/4/20/2021.** This is an ongoing survey, but the current data has been exported from the online database at **1/8/2022.**

In [1]:
try:
    import pandas as pd
    print(f"Pandas version: {pd.__version__} found!")
except ModuleNotFoundError:
    print("Install Pandas with: conda install pandas")

Pandas version: 1.3.4 found!

In [2]:
IMAGES = r'data/images_202201080305.csv'
DESKTOP = r'data/response_desktop_202201080305.csv'
MOBILE = r'data/response_mobile_202201080305.csv'

In [10]:
desktop_df = pd.read_csv(DESKTOP,
                 sep=',',
                 encoding='utf-8',
                 parse_dates = ["create_dt"])
desktop_df['mobile_user']=False
desktop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24599 entries, 0 to 24598
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           24599 non-null  int64
 1   image_id     24599 non-null  int64
 2   response     24599 non-null  int64
 3   create_dt    24599 non-null  datetime64[ns]
 4   session_id   24599 non-null  object
 5   mobile_user  24599 non-null  bool
dtypes: bool(1), datetime64[ns](1), int64(3), object(1)
memory usage: 985.0+ KB

In [11]:
mobile_df = pd.read_csv(MOBILE,
                 sep=',',
                 encoding='utf-8',
                 parse_dates = ["create_dt"])
mobile_df['mobile_user']=True
mobile_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9458 entries, 0 to 9457
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           9458 non-null   int64
 1   image_id     9458 non-null   int64
 2   response     9458 non-null   int64
 3   create_dt    9458 non-null   datetime64[ns]
 4   session_id   9458 non-null   object
 5   mobile_user  9458 non-null   bool
dtypes: bool(1), datetime64[ns](1), int64(3), object(1)
memory usage: 378.8+ KB

In [16]:
df = pd.concat([desktop_df, mobile_df], axis=0)
df = df.drop(columns=['id']).sort_values(by=['create_dt'])
df

,image_id,response,create_dt,session_id,mobile_user
0,6,1,2021-04-20 20:23:08,c9e86836-ad35-4e16-a4f7-8b273b496570,False
1,4,1,2021-04-21 11:33:17,cc681fa6-f357-4b9c-a268-a986ac9960f1,False
2,9,1,2021-04-21 11:33:19,cc681fa6-f357-4b9c-a268-a986ac9960f1,False
3,5,1,2021-04-21 12:42:57,cc681fa6-f357-4b9c-a268-a986ac9960f1,False
4,11,1,2021-04-21 12:43:07,cc681fa6-f357-4b9c-a268-a986ac9960f1,False
...,...,...,...,...,...
9456,384,-1,2022-01-08 00:36:32,50493768-4aa3-402e-a84e-747b08122f72,True
9457,92,-1,2022-01-08 00:42:51,9720ea8b-0080-4649-8280-773aecd9f067,True
24596,452,-1,2022-01-08 00:42:56,a157c0d8-5cb2-4d07-a020-f0171cf71912,False
24597,513,-1,2022-01-08 00:52:31,22b6e654-a93a-49aa-9798-3b44f1257364,False
24598,523,1,2022-01-08 01:02:24,70c85bd3-381c-44d4-9eb3-9eb25ba38f48,False